---
import Result from '@components/Result.svelte';
import Layout from '../layouts/Layout.astro';
import { supabase } from '@lib/supabase';

const { data } = await supabase.auth.getUser();
const { cookies, url } = Astro;
const urlId = url.pathname.split('/')[1]

const user = cookies.get('sb-token');
const isLogged = data?.user !== null && user?.value !== undefined;
---

<Layout
	title="Spell Checker"
	description="App that uses AI to check the spell"
	{isLogged}
>
	<section
		class="h-screen col-span-10 md:col-span-8 bg-gray-800 flex flex-col items-center text-white"
	>
		<h1 class="text-2xl sm:text-4xl font-bold text-center">
			¿Cómo puedo ayudarte?
		</h1>
        <Result client:load {urlId}/>
	</section>
</Layout>
