---
import AstroIcon from '@components/icons/Logo.astro';

interface Props {
	isLogged: boolean;
}

const { isLogged } = Astro.props;
---

<nav class="bg-gray-800">
	<div class="p-3">
		<div class="relative h-16 items-center justify-between">
			<div class="flex items-center w-full justify-between">
				<AstroIcon />
				<div class="sm:ml-6 sm:block">
					<div class="flex space-x-4">
						{
							!isLogged ? (
								<>
									<a
										href="/register"
										class="register text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm lg:text-base font-medium"
									>
										Register
									</a>
									<a
										href="/signin"
										class="login text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm lg:text-base font-medium"
									>
										Log In
									</a>
								</>
							) : (
								<a
									href="/signout"
									class="logout text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm lg:text-base font-medium"
								>
									Log out
								</a>
							)
						}
					</div>
				</div>
			</div>
		</div>

		<!-- Mobile menu, show/hide based on menu state. -->
		<!-- <div class="hidden" id="mobile-menu">
			<div class="px-2 pb-3 pt-2 flex justify-center">
				{
					!isLogged ? (
						<>
							<a
								href="/register"
								class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
							>
								Register
							</a>
							<a
								href="/signin"
								class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
							>
								Log In
							</a>
						</>
					) : (
						<a
							href="/signout"
							class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
						>
							Log out
						</a>
					)
				}
			</div>
		</div> -->
	</div>
</nav>
