<aside
	class="hidden md:grid justify-left h-screen col-span-0 md:col-span-2 bg-gray-800"
>
	<div class="flex flex-col py-6 mx-4">
		<ol class="grid grid-cols-1 gap-y-2">
			<li
				style="text-wrap: nowrap"
				class="hover:bg-gray-500/90 p-1 cursor-pointer"
			>
				<span
					class="relative hover:text-grey-800 text-white/90 text-sm lg:text-base"
				>
					Holaa que alasdasdasd
					<div
						class="absolute bottom-0 right-0 top-0 bg-gradient-to-l to-transparent w-16 from-gray-800 from-20%"
					>
					</div>
				</span>
			</li>
		</ol>
	</div>
</aside>
