---
import '@fontsource-variable/onest';
import Navbar from '@components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
import SideBar from '@components/SideBar.svelte';
import Toast from '@components/Toast.svelte';

interface Props {
	title: string;
	description: string;
	isLogged?: boolean;
}

const { title, description, isLogged } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="w-screen bg-[#353441]">
		<Navbar {isLogged} />
		<main class="h-screen grid grid-cols-10 auto-rows-[35rem] gap-0">
			<SideBar client:load/>
			<slot />
		</main>
	</body>
</html>
