---
import '@fontsource-variable/onest';
import Navbar from '@components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';

const { cookies } = Astro;

const token = cookies.get('sb-token');
const isLogged = token?.value !== undefined && token?.value.length > 0;

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full bg-[#3151a]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="h-screen w-full min-w-[430px]">
		{
			isLogged && (
				<>
					<Navbar {isLogged} />
				</>
			)
		}
		<slot />
	</body>

<style is:global>
		html {
			font-family: 'Onest Variable', system-ui, sans-serif;
		}
		ins, del {
			border-radius: 3px;
			display: inline-block;
			margin: 0 5px;
			box-sizing: border-box;
			padding: 3px;
		}
		ins {
			color: black;
			border: 1px solid rgb(255, 225, 0);
			background-color: rgb(255, 225, 0);
		}
		del {
			color: white;
			border: 1px solid rgb(255, 0, 0);
			background-color: rgb(255, 0, 0);
		}
	</style>
</html>
